.pizza{
    padding: 10px;
    height: 25%;
    width: 30%;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
img{
    padding: 10px;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: aliceblue;
}
p{
    color: white;
}
ul{
    list-style-type: none;
}
body{
    background-image: url(../assets/img/leña\ al\ fuego\ completa.jpg);
    
    background-attachment: fixed;
}
.carrito {
border: none;
background-color: aqua;
padding: 5px;
}
.cardProductContainer{
    display: flex;
    flex-wrap: wrap;
}
.navbarCont{
    position: sticky;
    top: 0;
    z-index: 1;
}