img{
    padding: 10px;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.nombre{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: aliceblue;
    
}
p{
    color: white;
    
}
.descripcion{
    color: white;
    font-weight: 20px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    list-style-type: none;
}
body{
    background-image: url(../assets/img/leña\ al\ fuego\ completa.jpg);
    background-attachment: fixed;
}
.carrito {
color: aqua;
background-color: aqua;
padding: 5px;
width: 40px;
height: 40px;

}


.cardProductContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

.boton{
    margin: 25px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.navbarCont{
    position: sticky;
    top: 0;
    z-index: 1;
}