.pizza{
    padding: 10px;
    height: 25%;
    width: 30%;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
img{
    padding: 10px;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: aliceblue;
    
}
p{
    color: white;
    
}
.descripcion{
    color: antiquewhite;
    font-weight: 10px;
    font-size: medium;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}
body{
    background-image: url(../assets/img/leña\ al\ fuego\ completa.jpg);
    
    background-attachment: fixed;
}
.carrito {
border: none;
background-color: aqua;
padding: 5px;
}

.cardProductContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boton{
    margin: 25px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.navbarCont{
    position: sticky;
    top: 0;
    z-index: 1;
}